/*
《 CINNAMON TEA PROFILE SHOP 》
🇦‌ 🇵‌🇷‌🇴‌🇫‌🇮‌🇱‌🇪‌ 🇬‌🇷‌🇦‌🇵‌🇭‌🇮‌🇨‌🇸‌ 🇦‌🇳‌🇩‌ 🇨‌🇴‌🇩‌🇮‌🇳‌🇬‌ 🇸‌🇭‌🇴‌🇵‌
https://www.gaiaonline.com/forum/t.97207419/
---
Author: FlaMarie #171192
Owner: imalwaystiired #744322
---
Illustration: fruit barrettes #42889589 @ Gaia Online.
Stock: coolvector @ Freepik, rawpixel.com @ Freepik, Canva.
Coding Tester:  AlthIndor #273173
---
🇦‌🇱‌🇱‌ 🇷‌🇮‌🇬‌🇭‌🇹‌🇸‌ 🇷‌🇪‌🇸‌🇪‌🇷‌🇻‌🇪‌🇩‌.
*/

a {
    font: bold 12px Georgia, serif;
}

a:link,
a:visited {
    color: #877A7C;
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
    color: #C78ECD;
}

html,
body {
    background: #F3DED7 url('https://i.imgur.com/m9nAbkW.jpg') top left repeat;
    background-size: 100%;
    min-width: 1280px;
    min-height: 710px;
    position: relative;
    font: 12px Georgia, serif;
    color: #877A7C;
}

@media (min-width: 1280px) {

    html,
    body {
        min-width: unset;
        overflow-x: hidden;
    }
}

#gaia_header a {
    color: #706C9A !important;
}

#gaia_header a:hover {
    color: #C48ECC !important;
}

#gaia_header a,
h2 {
    font: bold 12px Georgia, serif;
    font-variant: petite-caps;
}

#gaia_header {
    background: transparent;
    text-align: center;
}

#gaia_header li.spacer {
    display: none !important;
}

#gaia_header #header_left {
    background: transparent;
    margin-left: 11px !important;
    color: transparent;
}

#header_left img {
    mask: url('https://i.imgur.com/s0NkOhU.png') no-repeat center left;
    -webkit-mask: url('https://i.imgur.com/s0NkOhU.png') no-repeat center left;
    background: #706C9A;
    width: 0;
    margin: 0;
    padding-left: 45px;
}

#header_left img:hover {
    background: #C48ECC;
}

#gaia_header #header_right {
    background: transparent;
    float: right !important;
    margin-right: 11px !important;
    color: transparent;
}

#columns {
    background: url('https://i.imgur.com/xICx0U4.png') top center no-repeat;
    position: absolute;
    width: 1280px;
    height: 710px;
    top: 0;
    left: calc(50% - 640px);
}

.panel {
    background: transparent;
    color: #877A7C;
}

.panel h2 {
    background: transparent;
    margin-bottom: 10px;
    color: #877A7C;
    text-align: left;
}

#column_1 {
    width: 514px;
    height: 425px;
    position: absolute;
    top: 160px;
    left: 408px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e5e9eb transparent;
}

#column_1::-webkit-scrollbar {
    width: 7px;
}

#column_1::-webkit-scrollbar-track {
    background: transparent;
}

#column_1::-webkit-scrollbar-thumb {
    background: #e5e9eb66;
    border-radius: 10px;
    border: 1px solid #e5e9eb;
}

#column_1 .panel {
    width: 480px;
    height: fit-content;
    margin: 5px 0 10px 5px;
    border-bottom: 1px dashed #7b7874;
}

#column_1 img {
    max-width: 100%;
}

#column_2 {
    width: 300px;
    height: 410px;
    top: 282px;
    left: 936px;
    position: absolute;
}

#column_2 h2 {
    display: none;
}

#column_2 .panel:nth-of-type(1) {
    width: 235px;
    padding: 0 !important;
}

#column_2 .panel:nth-of-type(1) br {
    display: none;
}

#column_2 .panel:nth-of-type(1) a {
    width: 220px;
    height: 35px;
    display: block;
    margin: 1.5px 0;
    padding-left: 14px;
    font: normal small-caps normal 18px/35px 'Georgia', serif;
}

#column_2 .panel:nth-of-type(1) a:hover {
    background: linear-gradient(90deg, #D9E8FF66 25%, #D9E8FF 50%, #D9E8FF66 75%);
}

#id_footprints {
    width: 204px;
    height: 190px;
    position: absolute;
    top: 218px;
    left: 64px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ebc4e1 transparent;
}

#id_footprints::-webkit-scrollbar {
    width: 7px;
}

#id_footprints::-webkit-scrollbar-track {
    background: transparent;
}

#id_footprints::-webkit-scrollbar-thumb {
    background: #ebc4e166;
    border-radius: 10px;
    border: 1px solid #ebc4e1;
}

#column_3 {
    display: contents;
}

#id_wishlist {
    background: transparent;
    width: 565px;
    height: 85px;
    position: absolute;
    top: 590px;
    left: 445px;
    padding: 7px !important;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

#id_wishlist::-webkit-scrollbar {
    width: 0px;
}

#id_wishlist h2 {
    display: none;
}

#id_wishlist .item {
    background: #ededf4;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin: 5px;
    border: 3px solid white;
    outline: dotted white;
}

.owner_checkmark {
    background: url('https://i.imgur.com/UzAXOFf.png') 0 -88px no-repeat;
    width: 0;
    top: 20px;
    right: -9px;
    margin: 0;
    padding: 10px 12px 0 0;
}

div.clear {
    display: none;
}